@import "tailwindcss";

.dark{
    background-color: #070125;
    color: white;
}
.contact{
    @media screen {
        
    }
    @supports (grid-area: auto) {
        grid-column: auto;
    }
}

.image-slide {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: opacity 1s ease-in-out; /* Smooth transition */
}